body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #191919;
}

/* Big header text */
.header {
    text-align: center;
    padding: 60px 20px;
    font-size: 48px;
    font-weight: bold;
    color: rgb(80, 91, 189);
}

.header1 {
    text-align: center;
    padding: 500px 20px 50px 20px;
    font-size: 38px;
    font-weight: bold;
    color: rgb(80, 91, 189);
}
/* Grid container */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.gridme {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 40px;
    max-width: 900px;
    margin: auto;
    background: #191919;
}

/* Square boxes */
.square {
    background: rgb(64, 66, 141);
    border-radius: 12px;
    height: 200px;     /* Square size */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.square2 {
    background: rgb(64, 66, 141);
    border-radius: 12px;
    height: 150px;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 45px;
    font-weight: 600;

    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;

    margin: 0 auto;   /* centers the element */
}



@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.box {
    background-image: url("../img/Screenshot_6.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
}


.box1 {
    background-image: url("../img/Screenshot 2025-12-07 232939.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
}

.box2 {
    background-image: url("../img/bobface/bob.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
}

.box3 {
    background-image: url("../img/Screenshot 2025-12-07 233909.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
}

.box4 {
    background-image: url("../img/hard-drive-recovery.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
}

.box5 {
    background-image: url("../img/Screenshot_6.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
}

.box6 {
    background-image: url("../img/Screenshot 2025-12-07 232003.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
}

.label {
    position: absolute;
    bottom: 15px;       /* distance from bottom */
    left: 15px;         /* distance from left */
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

.label2 {
    position: absolute;
    bottom: 15px;       /* distance from bottom */
    left: 15px;         /* distance from left */
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

.labell {
    position: absolute;
    bottom: 15px;       /* distance from bottom */
    right: 15px;         /* distance from left */
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 3px 6px rgba(0,0,0,0.4);
    background-color: #000000bb;

}

.labell2 {
    position: absolute;
    bottom: 15px;       /* distance from bottom */
    right: 15px;         /* distance from left */
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 3px 6px rgba(0,0,0,0.4);
    background-color: #000000b7;
}

.box-link {
    display: block;
    text-decoration: none;
    color: inherit;
}
.box-link:hover .square, 
.box-link:hover .square2 {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.footer {
    padding: 30px;
    text-align: center;
    background: #222;
    color: white;
    font-size: 58px;
    margin-top: 50px;  /* pushes it away from content */
}
