body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #191919;
}

.textbox {
    gap: 25px;
    padding: 40px;

    margin: auto 18% 30rem 18%;
    background: #1f1f1f;
    color: beige;
    border-radius: 0rem 0rem 3rem 3rem;

}

.header {
    text-align: center;
    text-shadow: 0px 0px 1px rgb(255 255 255);
    padding: 2rem 20px;
    font-size: 6rem;
    font-weight: bold;
    color: rgb(0 0 0);
    background-image: url(../img/valheim.png);
    background-position: center top;
    background-repeat: no-repeat;
    border-radius: 0rem 0rem 10rem 10rem;
    margin: auto 15% 30rem 15%;
    background-size: 60rem;
    background-color: #ffffff15;
    
}

.header.pos1 {

    padding: 20px 20px;
    font-size: 600%;
    background-position: 50% 40%;
    border-radius: 1rem;
    margin: auto 15% auto 15%;
    background-size: 60rem;

    
}

.header.pos2 {
    padding: 20px 20px;
    font-size: 600%;
    background-position: 50% 60%;

    border-radius: 1rem;
    margin: auto 15% auto 15%;
    background-size: 60rem;
}


.header.pos3 {
    padding: 6rem 20px;
    font-size: 600%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-position: 50% 100%;

    border-radius: 1rem;
    margin: auto 17% auto 17%;
    background-size: 60rem;
}


.header2 {
    text-align: center;
    text-shadow: -1px 11px 7px rgb(0 0 0);
    padding: 20px 20px;
    font-size: 600%;
    font-weight: bold;
    color: rgb(39, 49, 136);
    background-image: url("../img/valheim.png");
    background-position: 50% 55%;

    background-repeat: no-repeat;
    border-radius: 10rem;
    margin: auto 17rem auto 17rem;
    background-size: 120rem;
}


.gridme {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    color: rgb(255, 255, 255);
    justify-items: center;

}

.grid-title {
    border-top-style: solid;
    border-color: #191919;;
    text-align: center;
    border-width: .5rem;
    margin-bottom: 2rem;
    padding: 2%;
    font-size: 4rem;
}

.linkedin img{
    width: 100%;
    height: 100%;
}

.linkedin{
    display: flex;
    background: rgb(236 236 236);
    border-radius: .5rem;
    align-items: center;
    width: 20rem;
    height: 5rem;
}


.steam img{
    width: 100%;
}

.steam{
    display: flex;
    border-radius: 10%;
    align-items: center;
}

.steam:hover {
    transform: scale(1.05);
    filter: brightness(1.5);
}

.linkedin:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}



.footer {
    width: 100%;
    padding: 30px;
    text-align: center;
    background: #222;
    color: white;
    font-size: 18px;
    margin-top: 50px;  /* pushes it away from content */
}
