body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #4c864c;

}


.header {
    text-align: center;
    padding: 10px 20px;
    font-size: 48px;
    font-weight: bold;
    color: rgb(102, 25, 25);
    background-color: #000000;
    border-radius: 0 0 20% 20%;
    box-shadow: 0px 7px 20px 5px rgb(144, 0, 0);
    border-color: #7e060634;
    border-style: solid;
    border-width: 0px 2px 8px 2px;
}

.gridme {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
}

.gridme > li {
    background: rgba(255, 255, 255, 0.05); /* optional */
    padding: 1rem;
    border-radius: 8px;
}

.gridme ul {
    list-style: disc;
    padding-left: 1.2rem;
    margin-top: 0.5rem;
}


.textbox {
    gap: 25px;
    padding: 40px;
    max-width: 900px;
    /* height: 50px; */
    margin: auto;
    margin-top: 200px;
    background: #1f1f1f;
    /* justify-items: center; */
    color: beige;
    border-radius: 20px;
    box-shadow: 0px 20px 20px 16px rgb(10 60 0 / 30%);
}

#center {
    text-align: center;
}

.header1 {
    text-align: center;
    padding: 220px 20px 50px 20px;
    font-size: 38px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.header2 {
    text-align: center;
    padding: 50px 20px 50px 20px;
    font-size: 38px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.bob {
    position: relative;   /* absolute children are positioned relative to this */
    text-align: center;   
    width: 750px;         /* or 80% for responsive */
    margin: 70px auto;       /* center container */
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    padding: 50px 100px 36px 100px;
    border-radius: 1%;
}

.bgbob {
    width: 100%;        /* fills container */
    height: auto;
    display: block;
}



.bobface {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6); /* centers & scales */
    height: auto;    
}



#slideshow {
    border-radius: 12px;
}

.wake {
    border-radius: 12px;
    margin-top: 50px;
    height: 50px;
    width: 150px;
    background-color: rgb(0, 0, 85);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(to bottom, #06467e, #00184d);
    box-shadow:
        0 6px 0 #000000,      /* hard bottom edge */
        0 14px 25px rgba(0,0,0,0.35); /* soft shadow */

    transform: translateY(-2px);
    transition: all 0.15s ease;
}

.wake:active {
    transform: translateY(2px);
    box-shadow:
        0 2px 0 #001c30,
        0 6px 12px rgba(0,0,0,0.3);
}


.wakecage{
    text-align: center;
    width: 100%;
}


.footer {
    padding: 30px;
    text-align: center;
    background: #222;
    color: white;
    font-size: 18px;
    margin-top: 50px;  /* pushes it away from content */
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: #1f1f1f;
  border-radius: 5%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidebutton {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 10rem;
    height: 5rem;
    border-radius: 0% 0% 14% 0%;
    background-color: #818181;
    color: beige;
    font-family: Geneva, Verdana, sans-serif;
    transition: 1s;
}

.sidebutton:hover {
    transform: scale(1.45);
    filter: brightness(1.2);
}