body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #4c864c;

}


.header {
    text-align: center;
    padding: 60px 20px;
    font-size: 48px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


.gridme {
    gap: 25px;
    padding: 40px;
    max-width: 900px;
    /* height: 50px; */
    margin: auto;
    background: #1f1f1f;
    justify-items: center;
    color: beige;
}

.header1 {
    text-align: center;
    padding: 500px 20px 50px 20px;
    font-size: 38px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.header2 {
    text-align: center;
    padding: 50px 20px 50px 20px;
    font-size: 38px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.bob {
    position: relative;   /* absolute children are positioned relative to this */
    text-align: center;   
    width: 500px;         /* or 80% for responsive */
    margin: 0 auto;       /* center container */
}

.bgbob {
    width: 100%;        /* fills container */
    height: auto;
    display: block;
}



.bobface {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6); /* centers & scales */
    height: auto;    
}



#slideshow {
    border-radius: 12px;
}

.wake {
    border-radius: 12px;
    margin-top: 50px;
    height: 50px;
    width: 150px;
    background-color: rgb(0, 0, 85);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.wakecage{
    text-align: center;
    width: 100%;
}


.footer {
    padding: 30px;
    text-align: center;
    background: #222;
    color: white;
    font-size: 18px;
    margin-top: 50px;  /* pushes it away from content */
}
